* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: #000;
}

/* Header */

.desktop {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  width: 100%;
  background: blanchedalmond;
}

.mobile {
  display: none;
}

.desktop .logo {
  font-family: "Rubik Puddles", cursive;
  font-size: 1.5rem;
  padding-left: 2rem;
}

nav ul {
  display: inline-flex;
  list-style: none;
  padding-right: 2rem;
}

nav ul li {
  margin: 5px 8px;
  padding: 7px 10px;
}

@media only screen and (max-width: 770px) {
  .logo {
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 490px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    align-items: center;
    justify-content: start;
    position: fixed;
    z-index: 100;
    width: 100%;
    background: blanchedalmond;
  }

  nav {
    width: 100%;
  }

  ul {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    padding: 0 2rem;
  }

  img {
    height: 1.75rem;
  }

  .logo {
    height: 2rem;
  }
}

/* Main */

/* Mission Section */

#mission {
  background-image: url("./images/puppy.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 38rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: blanchedalmond;
}

.banner {
  text-align: center;
  width: 30rem;
}

.banner h1 {
  padding: 1rem 1rem 2rem;
}

.banner p {
  padding: 0.5rem 1rem 2rem;
}

@media only screen and (max-width: 770px) {
  #mission {
    height: 28rem;
  }

  .banner {
    width: 25rem;
  }
}

@media only screen and (max-width: 425px) {
  .mission {
    height: 18rem;
  }

  .banner {
    width: 15rem;
  }

  .banner h1 {
    font-size: 0.9rem;
  }
  .banner p {
    font-size: 0.75rem;
  }
}

/* Services Section */

#services {
  background-color: blanchedalmond;
}

#services .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-evenly;
  padding: 1rem;
}

#services .card {
  width: 20rem;
  margin: 0.5rem;
}

#services .card img {
  width: 100%;
  height: 12rem;
  border-radius: 1rem;
}

#services .card h1 {
  text-align: center;
  padding: 1rem;
}

@media only screen and (max-width: 710px) {
  #services {
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }

  #services .card img {
    display: none;
  }

  #services .card {
    border: none;
    border-radius: 0%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 14rem;
    margin-top: 0;
    height: 10rem;
  }

  #services .card h1 {
    opacity: 0.75;
    text-align: center;
    margin-top: 3rem;
    color: blanchedalmond;
    opacity: 0.8;
    font-size: 2.5rem;
  }

  #services .card1 h1 {
    color: burlywood;
  }

  #services .card1 {
    background-image: url("./images/daycare.jpg");
  }

  #services .card2 {
    background-image: url("./images/dog-training.jpg");
  }

  #services .card3 {
    background-image: url("./images/dog-lodging.jpg");
  }

  #services .card4 {
    background-image: url("./images/petshop.jpg");
  }
}

/* Location Section */

#location {
  background-color: #4a4a4a;
  text-align: center;
}

.title {
  padding: 2rem 0 1.25rem;
  text-align: center;
  font-size: 2rem;
}

#location .cards {
  padding: 1rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#location .card {
  border: 1px solid yellow;
  border-radius: 1rem;
  width: 400px;
  color: yellow;
  margin: 0.75rem;
}

#location .card h1 {
  padding: 1rem 0.25rem;
  font-size: 1.5rem;
}

#location .card img {
  width: 95%;
  padding: 0.5rem;
}

.address {
  padding: 1rem 0 0.5rem;
}

.hours {
  padding: 0.5rem;
}

.phone {
  padding: 0.5rem 0 1rem;
}

@media only screen and (max-width: 525px) {
  #location .cards {
    padding: 0.5rem;
    display: block;
  }

  #location .card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0.5rem;
    width: 95%;
    padding: 0;
    border-radius: 0;
  }

  #location .card h1 {
    display: block;
    padding: 1rem 0 0.5rem;
    color: burlywood;
  }

  #location .address,
  #location .hours,
  #location .phone {
    color: blanchedalmond;
    padding: 0.75rem;
  }

  #location .card2 .hours {
    color: orange;
  }

  #location .card1 {
    background-image: url("./images/cleveland.jpg");
  }

  #location .card2 {
    background-image: url("./images/pittsburgh.jpg");
  }

  #location .card3 {
    background-image: url("./images/philly.jpg");
  }

  #location h1,
  #location img {
    display: none;
  }
}

@media only screen and (max-width: 335px) {
  .address,
  .hours,
  .phone {
    font-size: 0.8rem;
  }
}

/* Testimonials Section */

#testimonials {
  padding: 0 2rem 1rem;
}

.testimonies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimony {
  border: 1px solid black;
  padding: 1rem;
  max-width: 45%;
  margin: 1.5rem;
}

.post {
  font-weight: 800;
  font-size: 1.5rem;
  margin-right: 3rem;
}

.commenter {
  float: right;
  font-size: 1.25rem;
  font-weight: 500;
}

@media only screen and (max-width: 770px) {
  .testimony {
    max-width: none;
  }
  .post {
    width: 500px;
  }
}

@media only screen and (max-width: 585px) {
  .testimony {
    width: 100%;
  }

  .post {
    font-size: 1.25rem;
    width: auto;
  }

  .commenter {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 525px) {
  #testimonials .title {
    display: none;
  }

  .post {
    margin-right: 0;
  }

  .commenter {
    margin: 0.5rem;
  }
}

/* Footer */

footer {
  background-color: blanchedalmond;
}

.social-media {
  padding: 1rem 2rem 0.5rem;
  color: brown;
  display: flex;
}

.social-media p {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.sm-icons {
  display: flex;
  list-style: none;
  width: 70%;
  justify-content: space-around;
}

.sm-icons img {
  height: 2rem;
}

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 1rem;
  color: brown;
}

@media only screen and (max-width: 770px) {
  .social-media p {
    justify-content: start;
    width: 120px;
    padding-left: 0.5rem;
  }
}

@media only screen and (max-width: 490px) {
  .social-media p {
    display: none;
  }

  .social-media {
    padding: 0.5rem;
    padding-bottom: 0;
  }

  .sm-icons {
    width: 100%;
    justify-content: space-around;
  }

  .sm-icons img {
    height: 1.75rem;
  }

  .copyright {
    font-size: 0.75rem;
    padding: 1rem;
    padding-top: 0.5rem;
  }
}

@media only screen and (max-width: 375px) {
  .sm-icons {
    justify-content: space-between;
  }
}
